<h4>Gestion utilisateurs</h4>
<a href="/admin/addUser">Ajouter un conducteur</a>
<a href="/admin/removeUser">Supprimer un conducteur</a>

<h4>Gestion déplacements</h4>
<a href="/admin/addDest">Ajouter une destination</a>
<a href="/admin/addCar">Ajouter un véhicule</a>
<a href="/admin/addType">Ajouter un type de déplacement</a>
<a href="/admin/removeDest">Supprimer une destination</a>
<a href="/admin/removeCar">Supprimer un véhicule</a>
<a href="/admin/removeType">Supprimer un type de déplacement</a>
