<h4>Gestion utilisateurs</h4>
<a href="/admin/addUser">Ajouter un conducteur</a><br>
<a href="/admin/removeUser">Supprimer un conducteur</a><br>

<h4>Gestion déplacements</h4>
<a href="/admin/addDest">Ajouter une destination</a><br>
<a href="/admin/addCar">Ajouter un véhicule</a><br>
<a href="/admin/addType">Ajouter un type de déplacement</a><br>
<a href="/admin/removeDest">Supprimer une destination</a><br>
<a href="/admin/removeCar">Supprimer un véhicule</a><br>
<a href="/admin/removeType">Supprimer un type de déplacement</a><br>
