<h4>Gestion utilisateurs</h4>
<a href="/BoardBook/admin/addUser">Ajouter un employé</a><br>
<a href="/BoardBook/admin/updateUser">Modifier un employé</a><br>
<a href="/BoardBook/admin/removeUser">Supprimer un employé</a><br>

<h4>Gestion déplacements</h4>
<a href="/BoardBook/admin/addDest">Ajouter une destination</a><br>
<a href="/BoardBook/admin/addCar">Ajouter un véhicule</a><br>
<a href="/BoardBook/admin/addType">Ajouter un type de déplacement</a><br>
<a href="/BoardBook/admin/removeDest">Supprimer une destination</a><br>
<a href="/BoardBook/admin/removeCar">Supprimer un véhicule</a><br>
<a href="/BoardBook/admin/removeType">Supprimer un type de déplacement</a></br>
</br>
